# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
ruff_cache/

# Editors
.vscode/
.idea/

# Env
.env

# Builds
dist/
build/

# Docker
*.log

# Data/models (keep folders with .gitkeep)
models/*
!models/.gitkeep
assets/*
!assets/.gitkeep
